name: Run Bash Script

on:
  push:
    branches: [ "main" ]

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v4

    - name: Make script executable
      run: chmod +x script.sh

    - name: Run script
      run: ./script.sh
